USE [master]
GO
/****** Object:  Database [QLNHANSU]    Script Date: 8/12/2020 12:20:41 PM ******/
CREATE DATABASE [QLNHANSU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNHANSU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLNHANSU.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNHANSU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLNHANSU_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNHANSU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNHANSU]
GO
/****** Object:  Table [dbo].[BAOHIEM]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAOHIEM](
	[ID_BAOHIEM] [char](15) NOT NULL,
	[ID_LOAIBH] [char](15) NULL,
	[ID_NHANVIEN] [char](15) NULL,
	[MASOBAOHIEM] [varchar](20) NULL,
	[NGAYCAPBHXH] [datetime] NULL,
	[NGAYCAPBHYT] [datetime] NULL,
	[BENHVIEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BAOHIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ID_CHUCVU] [char](15) NOT NULL,
	[CHUC_VU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[TEN_DN] [char](15) NOT NULL,
	[MATKHAU] [char](50) NOT NULL,
	[ID_NHANVIEN] [char](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANTOC](
	[ID_DANTOC] [char](15) NOT NULL,
	[DAN_TOC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DANTOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIBAOHIEM]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIBAOHIEM](
	[ID_LOAIBH] [char](15) NOT NULL,
	[LOAIBAOHIEM] [nvarchar](50) NULL,
	[MUCDONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOAIBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LYLICH]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LYLICH](
	[ID_LYLICH] [char](15) NOT NULL,
	[ID_NHANVIEN] [char](15) NULL,
	[NOISINH] [nvarchar](50) NULL,
	[TINHTRANG_HONNHAN] [nvarchar](50) NULL,
	[DCTAMTRU] [nvarchar](50) NULL,
	[ID_DANTOC] [char](15) NULL,
	[ID_QUOCTICH] [char](15) NULL,
	[ID_TONGIAO] [char](15) NULL,
	[ID_NGOAINGU] [char](15) NULL,
	[ID_TINHOC] [char](15) NULL,
	[CMND] [varchar](20) NULL,
	[NGAYCAP] [datetime] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[SUCKHOE] [nvarchar](50) NULL,
	[CHIEUCAO] [float] NULL,
	[CANNANG] [float] NULL,
	[SOTKNGANHANG] [nchar](30) NULL,
	[TENNGANGHANG] [nvarchar](50) NULL,
	[CHINHANH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LYLICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGOAINGU]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGOAINGU](
	[ID_NGOAINGU] [char](15) NOT NULL,
	[NGOAI_NGU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NGOAINGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIIEN]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIIEN](
	[ID_NHANVIEN] [char](15) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[NGAY_SINH] [datetime] NULL,
	[GIOI_TINH] [nvarchar](20) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[DIENTHOAI] [char](10) NULL,
	[EMAIL] [char](50) NULL,
	[ID_PHONGBAN] [char](15) NULL,
	[ID_CHUCVU] [char](15) NULL,
	[ID_TDCHUYENMON] [char](15) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[THOIGIANTHUVIEC] [int] NULL,
	[LUONGCOBAN] [float] NULL,
	[HESOLUONG] [float] NULL,
	[SOBHXH] [char](20) NULL,
	[SOBHYT] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[ID_PHONGBAN] [char](15) NOT NULL,
	[PHONG_BAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PHONGBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUOCTICH]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUOCTICH](
	[ID_QUOCTICH] [char](15) NOT NULL,
	[QUOC_TICH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_QUOCTICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[ID_THANNHAN] [char](15) NOT NULL,
	[ID_NHANVIEN] [char](15) NULL,
	[HOTEN_THANNHAN] [varchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nchar](10) NULL,
	[QUANHE] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_THANNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHOC]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHOC](
	[ID_TINHOC] [char](15) NOT NULL,
	[TIN_HOC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TINHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TONGIAO]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TONGIAO](
	[ID_TONGIAO] [char](15) NOT NULL,
	[TON_GIAO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TONGIAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRINHDOCHUYENMON]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRINHDOCHUYENMON](
	[ID_TDCHUYENMON] [char](15) NOT NULL,
	[TRINHDO_CHUYENMON] [nvarchar](50) NULL,
	[BANGCAP] [nvarchar](50) NULL,
	[HOCVAN_PHOTHONG] [nvarchar](50) NULL,
	[NGANHDAOTAO] [nvarchar](50) NULL,
	[NOIDAOTAO] [nvarchar](50) NULL,
	[HINHTHUCDAOTAO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TDCHUYENMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UNGVIEN]    Script Date: 8/12/2020 12:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UNGVIEN](
	[ID_UNGVIEN] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [datetime] NULL,
	[NoiSinh] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[QuocTich] [nvarchar](30) NULL,
	[DanToc] [nvarchar](30) NULL,
	[TonGiao] [nvarchar](30) NULL,
	[HocVan] [nvarchar](30) NULL,
	[NgoaiNgu] [nvarchar](80) NULL,
	[TinHoc] [nvarchar](30) NULL,
	[SoCMND] [varchar](10) NULL,
	[NgayCapCMND] [datetime] NULL,
	[NoiCapCMND] [nvarchar](50) NULL,
	[TinhTrangSucKhoe] [nvarchar](50) NULL,
	[ChieuCao] [float] NULL,
	[CanNang] [float] NULL,
	[TrinhDoChuyenMon] [nvarchar](50) NULL,
	[CongViecTungLam] [nvarchar](50) NULL,
	[KinhNghiemLamViec] [nvarchar](100) NULL,
	[NgayNopHoSo] [date] NULL,
	[CacBangCap] [nvarchar](50) NULL,
	[ViTriUngTuyen] [nvarchar](50) NULL,
	[MucLuongMongMuon] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[MaDotTuyenDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UNGVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BAOHIEM] ([ID_BAOHIEM], [ID_LOAIBH], [ID_NHANVIEN], [MASOBAOHIEM], [NGAYCAPBHXH], [NGAYCAPBHYT], [BENHVIEN]) VALUES (N'BH1            ', N'LBH1           ', N'NV1            ', N'BH12435', CAST(0x0000AC8B00000000 AS DateTime), CAST(0x0000AC8B00000000 AS DateTime), N'Thống Nhất')
INSERT [dbo].[BAOHIEM] ([ID_BAOHIEM], [ID_LOAIBH], [ID_NHANVIEN], [MASOBAOHIEM], [NGAYCAPBHXH], [NGAYCAPBHYT], [BENHVIEN]) VALUES (N'BH2            ', N'LBH2           ', N'NV2            ', N'BH43235', CAST(0x0000AC8B00000000 AS DateTime), CAST(0x0000AC8B00000000 AS DateTime), N'Thống Nhất')
INSERT [dbo].[CHUCVU] ([ID_CHUCVU], [CHUC_VU]) VALUES (N'CV1            ', N'Trưởng Phòng')
INSERT [dbo].[CHUCVU] ([ID_CHUCVU], [CHUC_VU]) VALUES (N'CV2            ', N'Phó Phòng')
INSERT [dbo].[CHUCVU] ([ID_CHUCVU], [CHUC_VU]) VALUES (N'CV3            ', N'Quản Lý')
INSERT [dbo].[DANTOC] ([ID_DANTOC], [DAN_TOC]) VALUES (N'DT1            ', N'Kinh')
INSERT [dbo].[DANTOC] ([ID_DANTOC], [DAN_TOC]) VALUES (N'DT2            ', N'Đồng Bào Thiểu Số')
INSERT [dbo].[DANTOC] ([ID_DANTOC], [DAN_TOC]) VALUES (N'DT3            ', N'Khác')
INSERT [dbo].[LOAIBAOHIEM] ([ID_LOAIBH], [LOAIBAOHIEM], [MUCDONG]) VALUES (N'LBH1           ', N'Vip', 1000000)
INSERT [dbo].[LOAIBAOHIEM] ([ID_LOAIBH], [LOAIBAOHIEM], [MUCDONG]) VALUES (N'LBH2           ', N'Nomal', 500000)
INSERT [dbo].[LYLICH] ([ID_LYLICH], [ID_NHANVIEN], [NOISINH], [TINHTRANG_HONNHAN], [DCTAMTRU], [ID_DANTOC], [ID_QUOCTICH], [ID_TONGIAO], [ID_NGOAINGU], [ID_TINHOC], [CMND], [NGAYCAP], [NOICAP], [SUCKHOE], [CHIEUCAO], [CANNANG], [SOTKNGANHANG], [TENNGANGHANG], [CHINHANH]) VALUES (N'LL1            ', N'NV1            ', N'Quảng Ngãi', N'Chưa', N'TPHCM', N'DT1            ', N'QT1            ', N'TG2            ', N'NN2            ', N'TH1            ', N'2001170131', CAST(0x0000AC8B00000000 AS DateTime), N'Quảng Ngãi', N'Tốt', 162, 65, N'04440686868                   ', N'Vietcombank', N'TPHCM')
INSERT [dbo].[LYLICH] ([ID_LYLICH], [ID_NHANVIEN], [NOISINH], [TINHTRANG_HONNHAN], [DCTAMTRU], [ID_DANTOC], [ID_QUOCTICH], [ID_TONGIAO], [ID_NGOAINGU], [ID_TINHOC], [CMND], [NGAYCAP], [NOICAP], [SUCKHOE], [CHIEUCAO], [CANNANG], [SOTKNGANHANG], [TENNGANGHANG], [CHINHANH]) VALUES (N'LL2            ', N'NV2            ', N'TPHCM', N'Chưa', N'TPHCM', N'DT1            ', N'QT1            ', N'TG2            ', N'NN1            ', N'TH1            ', N'2012410550', CAST(0x0000AC8B00000000 AS DateTime), N'TPHCM', N'Tốt', 162, 65, N'14151352525                   ', N'Agribank ', N'TPHCM')
INSERT [dbo].[LYLICH] ([ID_LYLICH], [ID_NHANVIEN], [NOISINH], [TINHTRANG_HONNHAN], [DCTAMTRU], [ID_DANTOC], [ID_QUOCTICH], [ID_TONGIAO], [ID_NGOAINGU], [ID_TINHOC], [CMND], [NGAYCAP], [NOICAP], [SUCKHOE], [CHIEUCAO], [CANNANG], [SOTKNGANHANG], [TENNGANGHANG], [CHINHANH]) VALUES (N'LL3            ', N'NV3            ', N'TPHCM', N'Chưa', N'TPHCM', N'DT1            ', N'QT1            ', N'TG3            ', N'NN3            ', N'TH2            ', N'3453664325', CAST(0x0000AC8B00000000 AS DateTime), N'TPHCM', N'Tốt', 162, 65, N'53436523234                   ', N'VietTinBank', N'TPHCM')
INSERT [dbo].[NGOAINGU] ([ID_NGOAINGU], [NGOAI_NGU]) VALUES (N'NN1            ', N'Toeic')
INSERT [dbo].[NGOAINGU] ([ID_NGOAINGU], [NGOAI_NGU]) VALUES (N'NN2            ', N'Jpl')
INSERT [dbo].[NGOAINGU] ([ID_NGOAINGU], [NGOAI_NGU]) VALUES (N'NN3            ', N'Ielt')
INSERT [dbo].[NHANVIIEN] ([ID_NHANVIEN], [HO_TEN], [NGAY_SINH], [GIOI_TINH], [DIA_CHI], [DIENTHOAI], [EMAIL], [ID_PHONGBAN], [ID_CHUCVU], [ID_TDCHUYENMON], [NGAYVAOLAM], [THOIGIANTHUVIEC], [LUONGCOBAN], [HESOLUONG], [SOBHXH], [SOBHYT]) VALUES (N'NV1            ', N'Nguyễn Văn A', CAST(0x00008D6200000000 AS DateTime), N'Nam', N'Quảng Ngãi', N'0355211103', N'a@gmail.com                                       ', N'PB1            ', N'CV1            ', N'TD1            ', CAST(0x0000AC8B00000000 AS DateTime), 0, 7000000, 1.2, N'02131240            ', N'02131240            ')
INSERT [dbo].[NHANVIIEN] ([ID_NHANVIEN], [HO_TEN], [NGAY_SINH], [GIOI_TINH], [DIA_CHI], [DIENTHOAI], [EMAIL], [ID_PHONGBAN], [ID_CHUCVU], [ID_TDCHUYENMON], [NGAYVAOLAM], [THOIGIANTHUVIEC], [LUONGCOBAN], [HESOLUONG], [SOBHXH], [SOBHYT]) VALUES (N'NV2            ', N'Nguyễn Văn B', CAST(0x00008D6200000000 AS DateTime), N'Nam', N'TPHCM', N'0355211104', N'b@gmail.com                                       ', N'PB2            ', N'CV1            ', N'TD1            ', CAST(0x0000AC8B00000000 AS DateTime), 0, 7000000, 1.2, N'23235243            ', N'34324254            ')
INSERT [dbo].[NHANVIIEN] ([ID_NHANVIEN], [HO_TEN], [NGAY_SINH], [GIOI_TINH], [DIA_CHI], [DIENTHOAI], [EMAIL], [ID_PHONGBAN], [ID_CHUCVU], [ID_TDCHUYENMON], [NGAYVAOLAM], [THOIGIANTHUVIEC], [LUONGCOBAN], [HESOLUONG], [SOBHXH], [SOBHYT]) VALUES (N'NV3            ', N'Nguyễn Văn C', CAST(0x00008D6200000000 AS DateTime), N'Nam', N'TPHCM', N'0355211252', N'c@gmail.com                                       ', N'PB3            ', N'CV2            ', N'TD2            ', CAST(0x0000AC8B00000000 AS DateTime), 0, 7000000, 1.2, N'23432532            ', N'21324124            ')
INSERT [dbo].[PHONGBAN] ([ID_PHONGBAN], [PHONG_BAN]) VALUES (N'PB1            ', N'Nhân Sự')
INSERT [dbo].[PHONGBAN] ([ID_PHONGBAN], [PHONG_BAN]) VALUES (N'PB2            ', N'IT')
INSERT [dbo].[PHONGBAN] ([ID_PHONGBAN], [PHONG_BAN]) VALUES (N'PB3            ', N'Phòng kinh tế')
INSERT [dbo].[QUOCTICH] ([ID_QUOCTICH], [QUOC_TICH]) VALUES (N'QT1            ', N'Việt Nam')
INSERT [dbo].[QUOCTICH] ([ID_QUOCTICH], [QUOC_TICH]) VALUES (N'QT2            ', N'Khác')
INSERT [dbo].[THANNHAN] ([ID_THANNHAN], [ID_NHANVIEN], [HOTEN_THANNHAN], [NGAYSINH], [DIACHI], [DIENTHOAI], [QUANHE], [GIOITINH]) VALUES (N'TN1            ', N'NV1            ', N'Nguyen AA', CAST(0x0000640200000000 AS DateTime), N'Quảng Ngãi', N'0325664340', N'Cha', N'Nam')
INSERT [dbo].[THANNHAN] ([ID_THANNHAN], [ID_NHANVIEN], [HOTEN_THANNHAN], [NGAYSINH], [DIACHI], [DIENTHOAI], [QUANHE], [GIOITINH]) VALUES (N'TN2            ', N'NV2            ', N'Nguyen th? BB', CAST(0x0000640200000000 AS DateTime), N'TPHCM', N'0356565434', N'Mẹ', N'Nữ')
INSERT [dbo].[TINHOC] ([ID_TINHOC], [TIN_HOC]) VALUES (N'TH1            ', N'A')
INSERT [dbo].[TINHOC] ([ID_TINHOC], [TIN_HOC]) VALUES (N'TH2            ', N'B')
INSERT [dbo].[TINHOC] ([ID_TINHOC], [TIN_HOC]) VALUES (N'TH3            ', N'C')
INSERT [dbo].[TONGIAO] ([ID_TONGIAO], [TON_GIAO]) VALUES (N'TG1            ', N'Không')
INSERT [dbo].[TONGIAO] ([ID_TONGIAO], [TON_GIAO]) VALUES (N'TG2            ', N'Phật Giáo')
INSERT [dbo].[TONGIAO] ([ID_TONGIAO], [TON_GIAO]) VALUES (N'TG3            ', N'Thiên Chúa Giáo')
INSERT [dbo].[TRINHDOCHUYENMON] ([ID_TDCHUYENMON], [TRINHDO_CHUYENMON], [BANGCAP], [HOCVAN_PHOTHONG], [NGANHDAOTAO], [NOIDAOTAO], [HINHTHUCDAOTAO]) VALUES (N'TD1            ', N'Kĩ Sư Thông Tin', N'Trung Bình', N'12/12', N'Công Nghệ Thông Tin', N'HuFi', N'Chính Quy')
INSERT [dbo].[TRINHDOCHUYENMON] ([ID_TDCHUYENMON], [TRINHDO_CHUYENMON], [BANGCAP], [HOCVAN_PHOTHONG], [NGANHDAOTAO], [NOIDAOTAO], [HINHTHUCDAOTAO]) VALUES (N'TD2            ', N'Cử nhân Quản Trị', N'Khá', N'12/12', N'Quản Trị Kinh Doanh', N'HuFi', N'Chính Quy')
INSERT [dbo].[TRINHDOCHUYENMON] ([ID_TDCHUYENMON], [TRINHDO_CHUYENMON], [BANGCAP], [HOCVAN_PHOTHONG], [NGANHDAOTAO], [NOIDAOTAO], [HINHTHUCDAOTAO]) VALUES (N'TD3            ', N'Cử nhân Kế Toán', N'Khá', N'12/12', N'Kế toán', N'HuFi', N'Chính Quy')
ALTER TABLE [dbo].[BAOHIEM]  WITH CHECK ADD  CONSTRAINT [FK_BAOHIEM_LOAIBAOHIEM] FOREIGN KEY([ID_LOAIBH])
REFERENCES [dbo].[LOAIBAOHIEM] ([ID_LOAIBH])
GO
ALTER TABLE [dbo].[BAOHIEM] CHECK CONSTRAINT [FK_BAOHIEM_LOAIBAOHIEM]
GO
ALTER TABLE [dbo].[BAOHIEM]  WITH CHECK ADD  CONSTRAINT [FK_BAOHIEM_NHANVIIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[BAOHIEM] CHECK CONSTRAINT [FK_BAOHIEM_NHANVIIEN]
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP_NHANVIIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK_DANGNHAP_NHANVIIEN]
GO
ALTER TABLE [dbo].[LYLICH]  WITH CHECK ADD  CONSTRAINT [FK_LYLICH_DANTOC] FOREIGN KEY([ID_DANTOC])
REFERENCES [dbo].[DANTOC] ([ID_DANTOC])
GO
ALTER TABLE [dbo].[LYLICH] CHECK CONSTRAINT [FK_LYLICH_DANTOC]
GO
ALTER TABLE [dbo].[LYLICH]  WITH CHECK ADD  CONSTRAINT [FK_LYLICH_NGOAINGU] FOREIGN KEY([ID_NGOAINGU])
REFERENCES [dbo].[NGOAINGU] ([ID_NGOAINGU])
GO
ALTER TABLE [dbo].[LYLICH] CHECK CONSTRAINT [FK_LYLICH_NGOAINGU]
GO
ALTER TABLE [dbo].[LYLICH]  WITH CHECK ADD  CONSTRAINT [FK_LYLICH_NHANVIIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[LYLICH] CHECK CONSTRAINT [FK_LYLICH_NHANVIIEN]
GO
ALTER TABLE [dbo].[LYLICH]  WITH CHECK ADD  CONSTRAINT [FK_LYLICH_QUOCTICH] FOREIGN KEY([ID_QUOCTICH])
REFERENCES [dbo].[QUOCTICH] ([ID_QUOCTICH])
GO
ALTER TABLE [dbo].[LYLICH] CHECK CONSTRAINT [FK_LYLICH_QUOCTICH]
GO
ALTER TABLE [dbo].[LYLICH]  WITH CHECK ADD  CONSTRAINT [FK_LYLICH_TINHOC] FOREIGN KEY([ID_TINHOC])
REFERENCES [dbo].[TINHOC] ([ID_TINHOC])
GO
ALTER TABLE [dbo].[LYLICH] CHECK CONSTRAINT [FK_LYLICH_TINHOC]
GO
ALTER TABLE [dbo].[LYLICH]  WITH CHECK ADD  CONSTRAINT [FK_LYLICH_TONGIAO] FOREIGN KEY([ID_TONGIAO])
REFERENCES [dbo].[TONGIAO] ([ID_TONGIAO])
GO
ALTER TABLE [dbo].[LYLICH] CHECK CONSTRAINT [FK_LYLICH_TONGIAO]
GO
ALTER TABLE [dbo].[NHANVIIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIIEN_CHUCVU] FOREIGN KEY([ID_CHUCVU])
REFERENCES [dbo].[CHUCVU] ([ID_CHUCVU])
GO
ALTER TABLE [dbo].[NHANVIIEN] CHECK CONSTRAINT [FK_NHANVIIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIIEN_PHONGBAN] FOREIGN KEY([ID_PHONGBAN])
REFERENCES [dbo].[PHONGBAN] ([ID_PHONGBAN])
GO
ALTER TABLE [dbo].[NHANVIIEN] CHECK CONSTRAINT [FK_NHANVIIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[NHANVIIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIIEN_TRINHDOCHUYENMON] FOREIGN KEY([ID_TDCHUYENMON])
REFERENCES [dbo].[TRINHDOCHUYENMON] ([ID_TDCHUYENMON])
GO
ALTER TABLE [dbo].[NHANVIIEN] CHECK CONSTRAINT [FK_NHANVIIEN_TRINHDOCHUYENMON]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_NHANVIIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHANVIIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_NHANVIIEN]
GO
USE [master]
GO
