<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LayerData.Properties.Settings.QLNHANSUConnectionString"
            connectionString="Data Source=PHUTY99\SQLEXPRESS;Initial Catalog=QLNHANSU;User ID=sa;Password=sql2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>